.movies{
		border: 2px solid gainsboro;
		padding: 10px 15px;
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
}
span{
		margin-right: 20px;
}
.editMovie{
		width: 60%;
		padding: 0 5px;
		border: none;
}